body{
    margin: 0;
    padding: 0;
}

.gallery{
    margin: 10px 50px;

}

.gallery img{
    width: 70vh;
    padding: 20px ;
    filter: grayscale(100);
    transition: 1s;
}

.gallery img:hover{
    filter: none;
    transform: scale(1.1);
}
